<!DOCTYPE html>
<html>
<head>
  <title>Webflow data</title>
  <%= stylesheet_link_tag    "webflow_data/application", media: "all" %>
  <%= javascript_include_tag "webflow_data/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
